{% extends "appBD/index.html" %} {% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Consulta Tablero</title>
</head>

<body>
    <h1>Consulta Tablero</h1>
    {% block content %}

 <div class="container">

        <div class="card-columns">
        {% for lista in todo.listas.all %}
esti es una lista
            {% for tarjeta in lista.tarjetas.all %}
            <div class="card bg-primary">
                <h6 class="card-title">{{tarjeta.nombreTarj}} </h6>
                <div class="card-body text-center">
                    <p class="card-text" style="border: 1px solid black">{{tarjeta.descripcion}}</p>
                    <a href="{% url 'editarTarjeta' tarjeta.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'eliminarTarjeta' tarjeta.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
          
            
           









            
            

    {% endblock %}
</body>

</html>