{% extends "appBD/index.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Consulta Lista</title>
  </head>
  <body>
    <h1>Consulta Lista</h1>
    {% block content %}
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Tablero</th>
          <th>Editar</th>
        </tr>
      {% for lista in object_list %}
        <tr> 
          <td>{{lista.nombreList}}</td>
          <td>{{lista.fkTablero}}</td>
          <td><a href="">Editar</a></td>
        </tr>
      {% endfor %}
      </table>
    {% endblock %}

  </body>
</html>