{% extends "appBD/index.html" %} {% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Consulta Tablero</title>
</head>

<body>
    <h1>Consulta Tablero</h1>
    {% block content %}

 <div class="container">

        <div class="card-columns">
            {% for tarjeta in tar %}
            <div class="card bg-primary">
                <h6 class="card-title">{{tarjeta.nombreTarj}} </h6>
                <div class="card-body text-center">
                    <p class="card-text">{{tarjeta.descripcion}}</p>
                </div>
            </div>
            {% endfor %}
            {% for lista in lis %}
            <div class="card bg-warning">
                <h6 class="card-title">{{lista.nombreList}} </h6>
                {% for tarjeta in tar %}
                {{lista.id}} - {{tarjeta.fklista}}
                  {% if lista.id == tarjeta.fkLista %}
                  <div class="card-body text-center" style="border: 1px solid black">
                      {{tarjeta.nombreTarj}}
                      <p class="card-text">{{tarjeta.descripcion}}</p>
                  </div>
                  {% endif %}
                {% endfor %}
            </div>
            {% endfor %}









            
            Listas
            {% for listita in list %}
            <div class="card bg-success">
                <h6 class="card-title">{{listita.nombreList}} </h6>
                <div class="card-body text-center">
                    <p class="card-text"></p>
                </div>
            </div>
            {% endfor %}
            {% for tarjetita in tarj %}
            <div class="card bg-danger">{{tarjetita.nombreTarj}}
                <div class="card-body text-center" style="border: 1px solid black">
                    <p class="card-text">{{tarjetita.descripcion}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
</body>

</html>