{% extends "appBD/index.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Consulta Tablero</title>
  </head>
  <body>
    <h1>Consulta Tablero</h1>
    {% block content %}
    
    

 <div class="container">

        <div class="card-columns">
          {% for tarjeta in tar %}
            <div class="card bg-primary"> 
                <h6 class="card-title">{{tarjeta.nombreTarj}} </h6>
                <div class="card-body text-center">            
                    <p class="card-text">{{tarjeta.descripcion}}</p>
                </div>
            </div>
          {% endfor %}
            <div class="card bg-warning">
                <div class="card-body text-center">
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-center">
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-center">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
  </body>
</html>